#allcourses{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 2rem;
    flex: 1;
    background-color: #f6f8fc;
    position: relative;
}

#all-courses{
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:30px;
}
#course{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
  background:#fafafa;
  border:1px solid #e8e9eb;
  border-radius:18px;
}
#course img{
    width: 100%;
    height: 12rem;
    border-radius: 18px 18px 0 0;
}
#course-content{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap:0.5rem;
    color: black;
}
#course-content-title{
    font-size: 1.2rem;
    font-weight: bold;
}

@media(max-width:600px){
    #all-courses{
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
}