
#dashboard-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    flex: 1;
    background-color: #F6F8FC;
}
#dashboard-progress{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:2rem;
}
#dashboard-progress>div {
    padding: 1rem;
    background-color: #f5f6f8;
    box-shadow:0 10px 10px rgba(0,0,0,0.08) ;
    border-radius: 1rem;
}
.dashboard-progress-innera{
    font-size: x-large;
    font-weight: bold;
    color: #0F172A;
}
.dashboard-progress-innerb{
    font-size: xx-large;
    color:#3B82F6;
}
#content-heading{
    font-size: 2rem;
    color: #0F172A;
}
#content-subheading{
    margin-left: 0.4rem;
    color: #bebebe;
}
#thumbnails{
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:30px;
}
#thumbnails-heading{
    font-size: 1.5rem;
}
.thumbnail{
    display: flex;
    border-radius: 0.5rem;
  background:#fafafa;
  border:1px solid #e8e9eb;
  gap:1rem;
  border-radius: 1rem;
}
.thumbnail img{
    width: 6rem;
    border-radius: 1rem 0 0 1rem;
}
.thumbnail-content{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap:0.5rem;
    color: black;
}
.thumbnail-content-title{
    font-size: 1.2rem;
    font-weight: bold;
    cursor:pointer;
}
@media(max-width:1000px){
    .dashboard-progress-innera{
        font-size: large;
    }
    .dashboard-progress-innerb{
        font-size: x-large;
    }
    #dashboard-progress{
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    }
}
@media(max-width:600px){
    #dashboard-progress{
        grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    }
    #thumbnails{
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
}