#student-dashboard{
    background:linear-gradient(to bottom,#fafafa,#ffffff);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}
#dashboard-sidebar{
    padding: 2rem 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 13.5rem;
    background:#2F3E55;
    color: white;
    border-right:1px solid #e6e8ee;
}
#sidebar-options{
    margin-top: 5rem;
    align-self: stretch;
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    gap:2rem;
}
#sidebar-options div{
    padding:12px 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap:1rem;
    align-self: flex-start;
    cursor: pointer;
}
.Active{
    background:skyblue;
}


