#student-dashboard{
    background:linear-gradient(to bottom,#fafafa,#ffffff);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    position: relative;
}
.dashboard-sidebar{
    padding: 2rem 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 13.5rem;
    background:#2F3E55;
    color: white;
    border-right:1px solid #e6e8ee;
}
#sidebar-options{
    margin-top: 5rem;
    align-self: stretch;
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    gap:2rem;
}
#dashboard-heading{
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#sidebar-options div{
    padding:12px 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap:1rem;
    align-self: flex-start;
    cursor: pointer;
}
.Active{
    background:skyblue;
}
#hidden-sidebar{
    display: none;
}
@media(max-width:1000px){
    
    .dashboard-sidebar{
        width: 10rem;
    }
    #dashboard-heading{
        font-size: 1.3rem;
        gap:0.3rem;
    }
    #sidebar-options{
        font-size: 1rem;
    }
}
